
<footer class="main-footer">
        <div class="pull-right hidden-xs">
          <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2019 <a href="mailto:albericoneto.carvalho@gmail.com">Albérico Carvalho</a>.</strong> All rights
        reserved.
      </footer>