<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU</li>
      <li><a href="#"><i class="fa fa-users"></i> <span>Users</span></a></li>  
      <li><a href="#"><i class="fa fa-car"></i> <span>Cars</span></a></li>  
    </ul>
  </section>
</aside>